<html>
  <head>
    <title>Escalabilidade e Load Balance STATE-LESS</title>
  </head>
  <body style="text-align: center; background-color: #252525; color: white">
    <h1>Escalabilidade e Load Balance STATE-LESS</h1>
    <h2>Backend: <%= backend %></h2>
    <h2>Acessos: <%= acessos %></h2>
  </body>
</html>